{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title%}

{% block content %}
  <h1>{{ post.title }}</h1>
  <div class="detail-container">
    <small>By {{ post.author }} | on: {{ post.created_on }}</small>

    <p class="my-3">{{ post.body }}</p>
    {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-3">
        <a href="{% url 'post_edit' post.id %}" class="btn btn-edit" style="width:80%">Edit</a>
      </div>

      <div class="col-md-3">
        <a href="{% url 'post_delete' post.id %}" class="btn btn-delete" style="width:80%">Delete</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock content %}

