{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h1>Log In</h1>

<div class="card form-container" style="width: 50%;">
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p}}
      <input type="submit" class="btn btn-success" value="Log In">
    </form>

    <small>Don't have an account yet? Clickhere to sign up! <a href="{% url 'signup' %}">here</a>to sign up!</small>
  </div>
</div>


{% endblock content %}